<p-toast></p-toast>

<div id="form-container" class="p-card">
    <p-card header="Создание / Обновление очереди">
        <!-- Input field for entering the queue ID -->
        <div class="p-field">
            <label for="queueId">Введите ID очереди для обновления</label>
            <br/>
            <input id="queueId" pInputText [(ngModel)]="queueIdInput" placeholder="Введите ID очереди" />
            <br/>
            <p-button label="Загрузить очередь" (onClick)="onQueueLoad()"></p-button>
        </div>

        <form [formGroup]="queueForm" (ngSubmit)="onSubmit()">
            <div class="p-field">
                <label for="sortingStationId">Сортировочная станция</label>
                <input
                        id="sortingStationId"
                        pInputText
                        formControlName="sortingStationId"
                        (ngModelChange)="checkSortingStation()"
                />
                <div *ngIf="f.sortingStationId.invalid && (f.sortingStationId.dirty || f.sortingStationId.touched); else invalidSortingStation" class="p-error">
                    Сортировочная станция обязательна
                </div>

                <ng-template #invalidSortingStation>
                    <div *ngIf="sortingStation !== null">
                        <div *ngIf="sortingStation">
                            <small class="p-text-success">Сортировочная станция найдена: {{ sortingStation.id }}</small>
                        </div>
                    </div>

                    <div *ngIf="sortingStation === null && f.sortingStationId.touched">
                        <small class="p-text-danger p-error">Сортировочная станция не найдена. Пожалуйста, выберите правильную сортировочную станцию.</small>
                    </div>
                </ng-template>
            </div>

            <div class="p-field">
                <label for="capacity">Вместимость</label>
                <input id="capacity" pInputText formControlName="capacity" />
                <div *ngIf="f.capacity.invalid && (f.capacity.dirty || f.capacity.touched)" class="p-error">
                    Вместимость обязательна
                </div>
            </div>

            <div class="card flex justify-content-center">
                <p-button label="Сохранить" type="submit" [disabled]="queueForm.invalid || sortingStation === null"></p-button>
                <p-button label="Удалить" severity="danger" (onClick)="delete()" [disabled]="!currentQueue"></p-button>
            </div>
        </form>
    </p-card>
</div>
