<div id="header" class="ui-widget">
    <div *ngIf="!isPending()" class="align-left">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Главная</a>
        <a *ngIf="!isWorker()" routerLink="/create-coordinates" routerLinkActive="active" class="nav-link">Создать координаты</a>
        <a *ngIf="!isWorker()" routerLink="/create-location" routerLinkActive="active" class="nav-link">Создать локацию</a>
        <a *ngIf="!isWorker()" routerLink="/create-address" routerLinkActive="active" class="nav-link">Создать адресс</a>
        <a *ngIf="!isWorker()" routerLink="/create-organization" routerLinkActive="active" class="nav-link">Создать организацию</a>
    </div>
  
    <div class="align-right">
      <span *ngIf="isLoggedIn()" class="username">{{ username }}</span>
      <a *ngIf="isManager()" routerLink="/admin" routerLinkActive="active" class="nav-link">
        Панель администратора
      </a>
        <a *ngIf="isWorker()" routerLink="/admin" routerLinkActive="active" class="nav-link">
            Запросить должность оператора
        </a>
      <p-button *ngIf="isLoggedIn()" (onClick)="logOut()" label="Выйти" icon="pi pi-sign-out" iconPos="right" [outlined]="true" size="small"></p-button>
    </div>
  </div>
  