<div id="header" class="ui-widget">
    <div *ngIf="!isPending()" class="align-left">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Продукты</a>
        <a *ngIf="!isUser()" routerLink="/queues" routerLinkActive="active" class="nav-link">Очереди</a>
        <a *ngIf="!isUser()" routerLink="/sorting-stations" routerLinkActive="active" class="nav-link">Сортировочные станции</a>
        <a *ngIf="!isUser()" routerLink="/workers" routerLinkActive="active" class="nav-link">Рабочие</a>
        <a *ngIf="!isUser()" routerLink="/partners" routerLinkActive="active" class="nav-link">Партнеры</a>
        <a *ngIf="!isUser()" routerLink="/locations" routerLinkActive="active" class="nav-link">Локации</a>
        <a *ngIf="!isUser()" routerLink="/warehouses" routerLinkActive="active" class="nav-link">Филиалы</a>
    </div>
  
    <div class="align-right">
      <span *ngIf="isLoggedIn()" class="username">{{ username }}</span>
      <a *ngIf="isManager()" routerLink="/admin" routerLinkActive="active" class="nav-link">
        Панель администратора
      </a>
        <a *ngIf="isUser()" routerLink="/admin" routerLinkActive="active" class="nav-link">
            Запросить должность оператора
        </a>
      <p-button *ngIf="isLoggedIn()" (onClick)="logOut()" label="Выйти" icon="pi pi-sign-out" iconPos="right" [outlined]="true" size="small"></p-button>
    </div>
  </div>
  