<app-header></app-header>

<div class="container">
    <table class="styled-table">
        <thead>
        <tr>
            <th (click)="sort('id')">ID</th>
            <th (click)="sort('name')">Name</th>
            <th>Owner</th>
            <th>Coordinates</th>
            <th (click)="sort('creationDate')">Creation Date</th>
            <th>Official Address</th>
            <th (click)="sort('annualTurnover')">Annual Turnover</th>
            <th (click)="sort('employeesCount')">Employees Count</th>
            <th (click)="sort('rating')">Rating</th>
            <th>Full Name</th>
            <th>Type</th>
            <th>Postal Address</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let organization of organizations">
            <td>{{ organization.id }}</td>
            <td>{{ organization.name }}</td>
            <td>{{ organization.owner }}</td>
            <td>{{ organization.coordinates?.x }}, {{ organization.coordinates?.y }}</td>
            <td>{{ organization.creationDate | date: 'medium' }}</td>
            <td>{{ organization.officialAddress?.street }},
                {{ organization.officialAddress?.town?.x }},
                {{ organization.officialAddress?.town?.y }},
                {{ organization.officialAddress?.town?.z }}</td>
            <td>{{ organization.annualTurnover }}</td>
            <td>{{ organization.employeesCount }}</td>
            <td>{{ organization.rating }}</td>
            <td>{{ organization.fullName }}</td>
            <td>{{ organization.type }}</td>
            <td>{{ organization.postalAddress?.street }},
                {{ organization.postalAddress?.town?.x }},
                {{ organization.postalAddress?.town?.y }},
                {{ organization.postalAddress?.town?.z }}</td>
            <td><button (click)="deleteOrganization(organization.id)">Delete</button></td>
        </tr>
        </tbody>
    </table>
    <div *ngIf="!organizations || organizations.length === 0">
        No organizations available.
    </div>
    <div class="pagination">
        <button (click)="prevPage()" [disabled]="pageIndex === 0">Previous</button>
        <span>Page {{ pageIndex + 1 }} of {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="pageIndex >= totalPages - 1">Next</button>
    </div>
</div>
