<app-header></app-header>

<h2>Create Coordinates</h2>

<form [formGroup]="coordinatesForm" (ngSubmit)="onSubmit()">
    <div class="p-field">
        <label for="x">X Coordinate</label>
        <input id="x" type="number" pInputText formControlName="x" />
        <div *ngIf="coordinatesForm.controls['x'].invalid && coordinatesForm.controls['x'].touched">
            <small class="p-error">X is required and must be a valid number.</small>
        </div>
    </div>

    <div class="p-field">
        <label for="y">Y Coordinate (max 881)</label>
        <input id="y" type="number" pInputText formControlName="y" />
        <div *ngIf="coordinatesForm.controls['y'].invalid && coordinatesForm.controls['y'].touched">
            <small class="p-error">Y is required, must be a valid number and less than or equal to 881.</small>
        </div>
    </div>

    <button type="submit" [disabled]="coordinatesForm.invalid" class="simple-button">
        Создать
    </button>

</form>
