<p-toast></p-toast>

<div *ngIf="isManager()" id="form-container" class="p-card">
    <p-card header="Создание / Обновление партнера">
        <div class="p-field">
            <label for="partnerId">Введите ID партнера для обновления</label>
            <br/>
            <input id="partnerId" pInputText [(ngModel)]="partnerIdInput" placeholder="Введите ID партнера" />
            <br/>
            <p-button label="Загрузить партнера" (onClick)="onPartnerLoad()"></p-button>
        </div>

        <form [formGroup]="partnerForm" (ngSubmit)="onSubmit()">
            <div class="p-field">
                <label for="name">Название</label>
                <br/>
                <input id="name" pInputText formControlName="name" />
                <br/>
                <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)" class="p-error">
                    Название обязательно
                </div>
            </div>

            <div class="p-field">
                <label for="email">Email</label>
                <br/>
                <input id="email" pInputText formControlName="email" />
                <br/>
                <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="p-error">
                    Введите корректный email
                </div>
            </div>

            <div class="p-field">
                <label for="phoneNumber">Телефон</label>
                <br/>
                <input id="phoneNumber" pInputText formControlName="phoneNumber" />
                <br/>
                <div *ngIf="f.phoneNumber.invalid && (f.phoneNumber.dirty || f.phoneNumber.touched)" class="p-error">
                    Телефон обязателен
                </div>
            </div>

            <div class="p-field">
                <label for="address">Адрес</label>
                <br/>
                <textarea id="address" pInputText formControlName="address"></textarea>
            </div>

            <div class="card flex justify-content-center">
                <p-button label="Сохранить" type="submit" [disabled]="partnerForm.invalid"></p-button>
                <p-button label="Удалить" severity="danger" (onClick)="delete()" [disabled]="!selectedPartnerId"></p-button>
            </div>
        </form>
    </p-card>
</div>
