<app-header></app-header>

<div *ngIf="warehouses && warehouses.length > 0; else empty" class="container">
    <table class="styled-table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let warehouse of warehouses">
            <td>{{ warehouse.id }}</td>
            <td>{{ warehouse.name }}</td>
            <td>{{ warehouse.address }}</td>
        </tr>
        </tbody>
    </table>

    <div class="pagination">
        <button (click)="prevPage()" [disabled]="pageIndex === 0">Previous</button>
        <span>Page <input
                type="number"
                [(ngModel)]="pageIndex"
                [min]="1"
                [max]="totalPages"
                [disabled]="totalPages <= 1"
                (change)="loadWarehouses()"
                class="page-input"
        /> of {{ totalPages-1 }}</span>
        <button (click)="nextPage()" [disabled]="pageIndex >= totalPages - 1">Next</button>
    </div>
</div>

<ng-template #empty>
    ...
</ng-template>

<app-warehouse-create></app-warehouse-create>