.container {
    margin: 20px;
    font-family: Arial, sans-serif;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 100%;
    border: 1px solid #ddd;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr {
    background-color: white;
    color: black
}

.styled-table tbody tr:hover {
    background-color: var(--highlight-bg);
    color: var(--highlight-text-color);
    cursor: pointer;
}

.styled-table th {
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #009879;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
