<div id="nav" class="ui-widget">
  <div class="align-left">
    <a routerLink="/worker" routerLinkActive="active" class="nav-link">Worker</a>
    <a routerLink="/address" routerLinkActive="active" class="nav-link">Address</a>
    <a routerLink="/coordinates" routerLinkActive="active" class="nav-link">Coordinates</a>
    <a routerLink="/location" routerLinkActive="active" class="nav-link">Location</a>
    <a routerLink="/organization" routerLinkActive="active" class="nav-link">Organization</a>
    <a routerLink="/person" routerLinkActive="active" class="nav-link">Person</a>
  </div>
</div>
